.logo {
  width: 200px;
  height: 60px;
}

nav {
  background-color: #014634;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: white;
}

ul {
  display: flex;
  gap: 10px;
}

ul li {
  list-style: none;
  margin: 0;

}


a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 20px 10px;
  width: 100%;
  font-weight: 200;
  transition: all 0.8s ease;
  height: 100%;
}

.btn {
  color: white;
  background-color: #0AAD0A;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
}